web/core
fw
config/db.php
config/site.info.yaml
sql/admin.sql
sql/backup
web/classes/sql/*
web/classes/*.php
web/classes/yaml/new/*
web/classes/yaml/old/*
web/cache
web/files
backup/
backups/
web/modules/datepicker/date-picker
web/test

