web/core
fw
config/db.php
config/db.test.php
config/docarc_api.php
config/apyweb_api.php
config/ernsauth.php
config/google_calendar.php
config/google_calendar_key.json
config/site.info.yaml
lib/ernsauth
lib/phpmailer
sql/admin.sql
sql/backup
web/classes/sql/*
web/classes/*.php
web/classes/yaml/new/*
web/classes/yaml/old/*
web/cache
web/files
lib/zops
/backup/
/backups/
web/test

