.main-navigation-area {
    background: white;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-sm);
    margin-bottom: var(--spacing);
}

.wrapper .main-navigation {
    margin: 0rem 0;
    position: relative;
    padding: 0.5rem 1rem;
    font-size: 1.2em;
    line-height: 1.6em;
    background-color: var(--main-navigation-menu-level-0-background-color);
    color: var(--main-navigation-menu-level-0-link-color);

    background: linear-gradient(135deg, var(--primary) 0%, var(--primary-dark) 100%);
    border-radius: var(--border-radius);
}

.main-navigation>ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    flex-wrap: wrap;
}

.main-navigation .menu-item,
.main-navigation .submenu-item {
    padding: 0px 0.8rem;
    display: block;
    white-space: nowrap;
    position: relative;
}

.main-navigation li a {
    color: var(--main-navigation-menu-level-0-link-color) !important;
}

@media screen and (min-width: 450px) {
    
    .main-navigation li:hover {
        color: var(--main-navigation-menu-level-0-hover-text-color) !important;
        background-color: var(--main-navigation-menu-level-0-hover-background-color) !important;
        cursor: pointer;
    }
}
    
.main-navigation .drop-menu {
    position: absolute;
    left: 0;
}

.main-navigation .drop-menu.right-flush {
    left: auto;
    right: 0;
}

.main-navigation .drop-menu-1 {
    background-color: var(--main-navigation-menu-level-1-background-color) !important;
    color: var(--main-navigation-menu-level-1-link-color) !important;

    position: absolute;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    line-height: 1.8rem;
    padding: 5px 3px;

    min-width: 8rem;

    opacity: 0;
    visibility: hidden;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.main-navigation ul li:hover .drop-menu-1 {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.main-navigation .drop-menu-1 li {
    color: var(--main-navigation-menu-level-1-link-color) !important;
}

.main-navigation .drop-menu-1 li a {
    color: var(--main-navigation-menu-level-1-link-color) !important;
}

.main-navigation .drop-menu-1 li:hover a {
    color: var(--main-navigation-menu-level-1-hover-text-color) !important;
}

.main-navigation .submenu-item-level-2::after {
    font-family: 'boxicons';
    content: '\00bb'
}

.main-navigation .drop-menu-2 {
    background-color: var(--main-navigation-menu-level-2-background-color) !important;
    color: var(--main-navigation-menu-level-2-link-color) !important;
    position: absolute;
    left: 95%;
    top: 4px;
    display: flex;
    flex-direction: column;
    line-height: 1.8rem;
    padding: 5px 3px;

    opacity: 0;
    visibility: hidden;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.main-navigation .drop-menu-1 li:hover .drop-menu-2 {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.drop-menu-2-align-left {
    right: 0;
}

.main-navigation .drop-menu-2 li {
    background-color: var(--main-navigation-menu-level-2-background-color) !important;
}

.main-navigation .drop-menu-2 li:hover a {
    background-color: var(--main-navigation-menu-level-2-hover-background-color) !important;
    color: var(--main-navigation-menu-level-2-hover-text-color) !important;
}



.menu-icon {
    font-size: 32px;
    color: rgb(255, 0, 0);
    cursor: pointer;
}

label[for="menu-open"] {
    display: none;
    align-items: center;
    justify-content: end;
    font-size: 2rem;
    line-height: 2rem;
    width: 100%;
    vertical-align: middle;
    background-color: var(--main-navigation-menu-level-0-background-color);
    color: var(--main-navigation-menu-level-0-link-color);
}


#menu-check+label {
    display: none;
}


#menu-open:checked+label {
    color: red;
}

#menu-open {
    display: none;
}

.main-navigation ul li i.bx {
    display: none;
}


#menu-check {
    display: none;
}



.main-navigation .titlename {
    display: none;
}


.responsive-navigation {
    display: none;
}


.main-navigation ul li>input {
    display: none;
}




@media screen and (max-width: 530px) {
    label[for="menu-open"] {
        display: block;
    }


    .main-navigation > ul {
        flex-direction: column;

    }

    .main-navigation .menu-item a,
    .main-navigation .submenu-item label {
        display: block;
        width: 100%;
        padding: 0.5rem;
    }
    .main-navigation .menu-item  a:hover,
    .main-navigation .submenu-item  label:hover {
        color: var(--main-navigation-menu-level-0-hover-text-color) !important;
        background-color: var(--main-navigation-menu-level-0-hover-background-color) !important;
        cursor: pointer;
    }

    .main-navigation ul li .drop-menu-1 {
        display: block;
    }

    .main-navigation .titlename {
        position: relative;
        left: -32px;
        display: inline-block;
        color: white;
    }

    .main-navigation .titlename span {
        color: red;
    }


    .wrapper .main-navigation {
        width: 100%;
        line-height: 32px;
    }

    .main-navigation ul {
        background-color: var(--main-navigation-menu-level-0-background-color);
        display: none;
        flex-direction: column;
        justify-items: center;
        list-style: none;
        margin: auto;
        text-align: left;
        width: 100%;
    }

    .main-navigation ul li {
        padding: 16px 16px 16px 16px;
    }

    .main-navigation .drop-down::after {
        font-family: 'fontawesome';
        content: ' \f054'
    }

    .main-navigation .menu-icon {
        display: block;
    }


    #menu-check:checked ~ ul {
        display: block;
    }

    #menu-check:checked ~ label #menu-open {
        display: none;
    }

    #menu-check:checked ~ label #menu-close {
        display: block;
    }


    .main-navigation ul li.submenu-item ul.drop-menu-1 {
        display: none;
    }

    /* do not show menu initially, wait for menu icon to be pressed */
    .main-navigation ul {
        display: none;
    }

    /* display menu when menu icon is pressed */
    #menu-open:checked ~ ul {
        display: inline-block;
    }

    /* when menu is shown, hide menu icon... */
    #menu-open:checked+label[for="menu-open"] {
        display: none;
    }

    /* ... and display menu close icon */
    #menu-open:checked+label[for="menu-close"] {
        display: block;
    }

    /* ... menu close icon should be hidden by default */
    #menu-open:not(:checked)~label[name="menu-close"] {
        display: none;
        background-color: red;
    }



    .main-navigation ul li {
        display: block;
        margin: 0.5rem 1rem;
    }

    .main-navigation ul>li,
    .main-navigation ul>li>a {
        color: white !important;
    }

    .main-navigation ul>li>ul.drop-menu-1,
    .main-navigation ul>li>ul.drop-menu-2 {
        position: unset;
        transition: all 0.3s ease;
    }

    .main-navigation>input[type="checkbox"] {
        display: none;
    }

    .main-navigation ul li {
        margin: 1rem;
        padding: 1rem;
    }

    .main-navigation ul li input:checked ~ ul.drop-menu-1 {
        display: block;
        opacity: 1;
        visibility: visible;
        background-color: inherit !important;
    }


    .main-navigation ul li input:checked+label i {
        transform: rotate(90deg);
    }

    .main-navigation ul li::after:has(ul.drop-menu-1) {
        background-color: cyan;
    }

    .main-navigation ul li i.bx {
        display: inline-block;
        height: 100%;
        font-size: 1.1rem;
        vertical-align: middle;

    }

}