#<IfModule mod_rewrite.c>    
    # <IfModule mod_negotiation.c>
    Options +FollowSymLinks
    Options -Indexes
    # </IfModule>     
#    Loglevel rewrite:trace8
    
    DirectoryIndex index.php

    RewriteEngine On
    # RewriteLogLevel trace8  
    RewriteBase /apps/zeus/web/

    ErrorDocument 404 error.php
    
    # RewriteCond %{REQUEST_FILENAME} !-d
    # RewriteCond %{REQUEST_FILENAME} !-f
    # RewriteRule ^(.*)/$ index2.php?q=$1 [QSA,L,PT]


    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?$1 [QSA,L,PT]
    
    




#</IfModule>
